/* font */

@font-face {
    font-family: 'Pretendard';
	src: url('../font/PretendardVariable.woff2') format('woff2-variations'),
         url('../font/PretendardVariable.ttf') format('truetype');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

:root {
    position: relative;
    font-family: 'Pretendard';
    line-height: 1.5;
    color: rgba(2, 7, 21, 1);
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0 auto;
    max-width: 1140px;
}

body { width: 100%; height: 100%; }
* { font-family: 'Pretendard'; }